version: '3.8'

services:
  # --- DATABASE SERVICE ---
  db:
    image: postgres:alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - ${DB_PORT}:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${DB_NAME} -U $${DB_USER}"]
      interval: 10s
      timeout: 30s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # --- DATABASE ADMIN TOOL ---
  # Adminer for easy database management.
  adminer:
    image: adminer
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8080:8080
    environment:
      # Securely pass the Gemini API key to the loader
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    volumes:
      #- ./adminer-plugins/prism-loader.php:/var/www/html/plugins-enabled/prism-loader.php
      - ./adminer-plugins/codemirror-loader.php:/var/www/html/plugins-enabled/codemirror-loader.php
      - ./adminer-plugins/gemini-loader.php:/var/www/html/plugins-enabled/gemini-loader.php
      - ./adminer-plugins/sqllog-loader.php:/var/www/html/plugins-enabled/sqllog-loader.php
      - ./adminer-plugins/plugins:/var/www/html/plugins-enabled/plugins

      - ./adminer-logs:/var/www/html/logs

volumes:
  postgres_data:
    external: false